body{
    margin: 0;
}

header {
    background-color: #182641;
    color: #fff; 
    padding: 10px;
}

header h1 {
    font-size: 24px;
}

div{
    background-color: #182641; 
    color: #fff; 
    padding: 10px;
}

footer {
    background-color: #182641; 
    color: #fff;
    text-align: center;
    padding: 10px;

    position: fixed;
    bottom: 0;
    width: 100%;

}